section.title-section.section-block
  h1.special dotfury
section.introduction-section.section-block
  p #{about.introduction}
  .detail-section
    | !{about.text}

.display-slider
  each work in featuredWork 
    .featured-work
      a(href=work.link target="_blank")
        img(src=work.image width="250")
      div 
        | !{work.description}

.display-slider
  each experiment in experiments 
    .featured-work 
      a(href=experiment.link target="_blank")
        img(src=experiment.image width="250")
