.preloader 
  .cube-container 
    .cube 
      .face.front 
      .face.back
      .face.right 
      .face.left 
      .face.top 
      .face.bottom 
  .percent-count
.page-wrapper
  section.title-section.section-block
    h1.special dotfury
  section.introduction-section
    .introduction
      p #{about.introduction}
    .information
      h3 General Information
      .details
        .detail-section
          | !{about.frontEnd}
        .detail-section
          | !{about.backEnd}
        .detail-section
          | !{about.creative}
  section
    h3 Projects
    .display-slider
      each work in featuredWork 
        .featured-work
          a(href=work.link target="_blank")
            img(src=work.image)
          div 
            | !{work.description}
  section
    h3 Experiments
    .display-slider
      each experiment in experiments 
        .featured-experiment
          a(href=experiment.link target="_blank")
            img(src=experiment.image)
  section
    h3 Code Samples
    .display-samples
      each sample in samples
        div
          a(href=sample.link target="_blank")
            | #{sample.title}
  footer
    .social-links
      a(href="https://twitter.com/dotfury" target="_blank")
        i.fa-brands.fa-twitter
      a(href="https://github.com/dotfury" target="_blank")
        i.fa-brands.fa-github
      a(href="https://www.linkedin.com/in/charlesmontgomerydev/" target="_blank")
        i.fa-brands.fa-linkedin-in
      a(href="mailto:cmfurious@dotfury.com" target="_blank")
        i.fa-solid.fa-envelope
    .copyright 
      | &copy;&nbsp;
