.preloader 
  .cube-container 
    .cube 
      .face.front 
      .face.back
      .face.right 
      .face.left 
      .face.top 
      .face.bottom 
  .percent-count
.page-wrapper.flow
  section.title-section.section-block
    h1.special dotfury
    .scroll-arrow
  section.introduction-section
    .introduction
      p.introduction-text #{about.introduction}
    .information
      .details
        .detail-section
          | !{about.frontEnd}
        .detail-section
          | !{about.backEnd}
        .detail-section
          | !{about.creative}
  section.works-section
    h2.shadowed Projects
    .featured-work-container
      each work in featuredWork 
          .featured-work
            a(href=work.link target="_blank" aria-label=work.title)
              img(class="featured-work-image" src=work.image alt=work.title)
              span.featured-work-title 
                | !{work.title}
  section.experiments-section
    h2.shadowed Experiments
    .display-experiments
      each experiment in experiments 
        div
          a(class="text-link" href=experiment.link target="_blank")
            | #{experiment.title}
  section.samples-section
    h2.shadowed Code Samples
    .display-samples
      each sample in samples
        div
          a(class="text-link" href=sample.link target="_blank")
            | #{sample.title}
  footer
    .social-links
      a(href="https://twitter.com/dotfury" target="_blank")
        i.fa-brands.fa-twitter
      a(href="https://github.com/dotfury" target="_blank")
        i.fa-brands.fa-github
      a(href="https://www.linkedin.com/in/charlesmontgomerydev/" target="_blank")
        i.fa-brands.fa-linkedin-in
      a(href="mailto:cmfurious@dotfury.com" target="_blank")
        i.fa-solid.fa-envelope
    .copyright 
      | &copy;&nbsp;
canvas.webgl
